<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="${title}"/>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css">
</head>
<body>
<header th:insert="~{blocks/header :: header}"></header>
<div class="container mt-5 mb-5">
    <h1>Form for adding post</h1>
    <form action="/article_add" method="post">
        <input class="form-control" type="text" name="title" placeholder="Title"><br>
        <input class="form-control" type="text" name="anons" placeholder="Anons"><br>
        <textarea class="form-control" name="full_text" placeholder="Text area"></textarea>
        <input class="btn btn-success" type="submit" value="Add Article">
    </form>
</div>
<div th:insert="~{blocks/footer :: footer}"></div>
</body>
</html>